stylesheets/* linguist-vendored linguist-documentation=false
*.json linguist-vendored linguist-documentation=false
*.html linguist-vendored linguist-documentation=false
*.css linguist-vendored linguist-documentation=false
Dockerfile linguist-language=Docker
